.photoProfil{
    overflow:hidden;
    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    border-radius:35px;
    width: 35px;
    height: 35px;
    float: center;
}

.profil{
    background-color: #EADFDD;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}