<!--The content below is only a placeholder and can be replaced.-->
<!-- <h1>MenuCinéma.com 2020</h1>
<p>Page github : <a href="https://gitlab.com/AlexDmr/projet-integrateur-l3m-2020">https://gitlab.com/AlexDmr/projet-integrateur-l3m-2020</a></p>
<p><a href="https://docs.google.com/document/d/1cQcOzhEYcMNmTqi-8eqjO4gbCwUZ_qd_y01GYAJYrYU/edit?usp=sharing">Google doc du projet</a></p>
<p><a href="https://docs.google.com/document/d/1eeCz9V31ZZCTw5AyFR7bNct-nLYuV9wykSdxAONhHM0/edit?usp=sharing">Google doc de la partie client</a></p> -->


<button class="film"(click)="clickFilm()"><img class="imgCinema" [src]="getImgFilmURL()"></button>
<button class="repas" (click)="clickRepas()"><img class="imgRepas" [src]="getImgRepasURL()"></button>



<!-- 
<code>
  {{film | json}}
</code>
 -->